.container{
    width: 500px;
    height: 700px;
    border: 2px solid blue;
    margin-left: auto;
    margin-right: auto;
}

.user-input {
    width: 450px;
    height: 125px;
    border: 2px solid blue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.container-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.even-words {
    display: inline-block;
    width: 200px;
    height: 500px;
    border: 2px solid blue;
}

.odd-words {
    display: inline-block;
    width: 200px;
    height: 500px;
    border: 2px solid blue;
}